{% extends "CubTrax/base.html" %}

{% block title %}CubTrax main page{% endblock %}

{% block additional_style %}{{ STATIC_URL }}CubTrax/css/index.css{% endblock %}

{% block custom-js %}

function custom_test()
{
	//alert("Testing 1 2 3");
}

function award_selected()
{
	alert("Award selected");
}
{% endblock %}

{% block document-ready-js %}
custom_test();
{% endblock %}


{% block content %}
<form action="./add" method="post">
	<div class="formrow">Date<input type="text" name="date"/></div>
	<div class="formrow">Location<input type="text" name="location"></div>
	<div class="formrow">Notes<textarea rows="4" cols="30"></textarea></div>
	<div class="formrow">Scouts<select multiple size="7" onClick="award_selected()"></div>
	{% for scout in scouts %}
		<option value={{ scout.pk }}>{{ scout.first_name }} {{scout.last_name}}</option>
	{% endfor %}
	</select></div>
	<div class="formrow">Requirements<br/></div>
	<select multiple size="3">
	{% for award in awards %}
		<option value={{ award.id }}>{{ award.name }}</option>
	{% endfor %}
	</select>
<input type="submit" value="Add Meeting" />
</form>
{% endblock %}


