<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <!-- The following line defines content type and utf-8 as character set. -->
  <!-- If you want your application to work flawlessly with various local -->
  <!-- characters, just make ALL strings, on the page, json and database utf-8. -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}CubTrax/img/icon.ico"/>

	<!-- JQuery -->
	<link type="text/css" href="{{ STATIC_URL }}CubTrax/js/jquery-ui/css/ui-lightness/jquery-ui-1.8.8.custom.css" rel="Stylesheet" />	
	<script type="text/javascript" src="{{ STATIC_URL }}CubTrax/js/jquery-1.4.4.min.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}CubTrax/js/jquery-ui/js/jquery-ui-1.8.8.custom.min.js"></script>

	<!-- Custom JS -->
	{% block custom-js-files %}{% endblock %}

	<script type="text/javascript">{% block custom-js %}{% endblock %}</script>

  <title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}CubTrax/css/base.css">
	<link rel="stylesheet" type="text/css" href="{% block additional_style %}{% endblock %}">
</head>
<body>
<div id="background_frame">
<div id="outer">
	<div id="header">
		<img src="{{ STATIC_URL }}CubTrax/img/logo.png" />
	</div>
	<div id="nav">
		<ul class="menu">
			<li class="first_button"></li>
			<li class="button"><a href="{% url CubTrax.views.index %}" >Dashboard</a></li>
			<li class="button"><a href="{% url CubTrax.views.meetings %}" >Meetings</a></li>
			<li class="button"><a href="{% url CubTrax.views.scouts %}" >Scouts</a></li>
			<li class="button"><a href="{% url CubTrax.views.awards %}" >Awards</a></li>
			<li class="last_button"></li>
		</ul>
	</div>
	<div id="main">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
		{% block footer %}{% endblock %}
	</div>
</div>
</div>
   

<script type="text/javascript">
$(document).ready(function(){
{% block document-ready-js %}{% endblock %}
});
</script>

<script type="text/javascript">
{% block post-script %}{% endblock %}
</script>
 
</body>
</html>

